.calendar-app {
    height: 100%;
    .wrapper {
        display: flex;
        height: 100%;

        .sidepanel {
            max-width: 350px;
            min-width: 250px;
            border-right: 1px solid var(--surface-300);
            padding: 10px;
        }

        .calendar-area {
            flex: 1;
        }
    }
}