.calendar-app {
    height: 100%;
    .wrapper {
        display: flex;
        height: 100%;

        .calendar-area {
            flex: 1;
            border-left: 1px solid var(--surface-300);
        }

        .sidepanel {
            position: relative;
        }
    }
}