:host {
  display: block;
  height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.4s;
    background-color: var(--surface-card);

    &:hover {
        background-color: var(--surface-hover);
    }

    &.drop {
        background-color: var(--highlight-bg);
    }

    .header {
        text-align: center;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 0 10px;

        div:nth-child(1) {
            margin-bottom: 5px;
        }

        div:nth-child(1) {
            margin-bottom: 5px;
        }

        .current {
            background-color: var(--primary-color);
            border-radius: 20px;
            color: white;
            padding: 2px;
            width: 20px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }

    .add-new-task {
        cursor: pointer;
        transition: 0.2s;
        min-height: 20px;
        flex: 1;
    }

    .more-text {
        color: var(--text-color);
        font-size: 0.875rem;
        margin: 3px 5px;
        cursor: pointer;
        padding: 2px 6px;
        border-radius: var(--border-radius);
        display: inline-block;
        width: 80px;

        &:hover {
            background-color: var(--surface-200);
        }
    }
}
