<div class="wrapper" [ngClass]="showDropZone ? 'drop' : ''" (drop)="drop($event)" (dragover)="allowDrop($event)"
    (dragleave)="dragLeave($event)">
    <div class="header">
        <div *ngIf="showDayOfWeek">{{ dayOfWeekLabel | uppercase }}</div>
        <div [ngClass]="isCurrent ? 'current' : ''">{{ dayLabel }}</div>
    </div>
    <div class="content">
        <app-task *ngIf="showUntitled" class="untitled"
            [task]="{ title: 'untitled', id: -1, description: '', color: 'red', createdDate: '', completed: false }"></app-task>
        <app-task *ngFor="let task of items" [task]="task" draggable="true" (dragstart)="drag($event, task)"
            (taskClicked)="showTaskDetails($event, task)">
        </app-task>
        <div *ngIf="date.items.length > pageSize" class="more-text" (click)="showMorePopup($event)">{{
            date.items.length - pageSize }} more</div>
    </div>
    <div class="add-new-task" (click)="showNewTaskOverlay($event)"></div>
</div>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '300px'}" (onHide)="showUntitled = false">
    <ng-container #vcr></ng-container>
</p-overlayPanel>