.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.content {
    margin-top: 6px;
    margin-bottom: 24px;
    min-width: 250px;
    .title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .description {}
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.color-box {
    width: 16px;
    height: 16px;
    border-radius: var(--border-radius);
    gap: 16px;
}