/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.p-overlaypanel-content {
    padding: 14px;
}

.header-calendar-op {
    &.p-overlaypanel {
        transform: translateX(90px) !important;
    }
    .p-overlaypanel-content {
        padding: 0;

        .p-datepicker {
            border: none;
        }
    }
}