<div class="new-task">
    <div class="wrapper">
        <div class="input-wrapper">
            <p-colorPicker [(ngModel)]="taskColor" />
            <input type="text" pInputText [(ngModel)]="taskTitle" placeholder="Add task title" />
        </div>
        <div class="others">
            <div class="row">
                <i class="pi pi-align-left"></i>
                <textarea rows="4" columns="30" [variant]="'filled'" pInputTextarea [(ngModel)]="taskDescription"
                    placeholder="Add description"></textarea>
            </div>
        </div>
        <div class="actions">
            <p-button *ngIf="!editMode" [disabled]="!taskTitle" (click)="save()">Save</p-button>
            <p-button *ngIf="editMode" severity="danger" (click)="delete()">Delete</p-button>
            <p-button *ngIf="editMode" [disabled]="!taskTitle" (click)="update()">Update</p-button>
        </div>
    </div>
</div>