.new-task {
    .wrapper {
        .input-wrapper {
            display: flex;
            align-items: center;
            gap: 7px;

            input[type="text"] {
                width: 100%;
            }
        }

        .row {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 20px;

            textarea {
                width: 100%;
            }
        }

        .others {
            margin-bottom: 16px;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}